<%= image_tag("chat/google_icon.jpg", :alt => "Google", id: 'glogo') %>
<h4 id="identity">Menu</h4>

<div>
    <script async src="https://cse.google.com/cse.js?cx=012168581418490882640:zr42mxxrbdb"></script>
    <div class="gcse-search"></div>
</div>

<%= form_tag logout_path, method: :get do %>
        <%= submit_tag "Logout",:class=>"logout"%>
<% end %>

<div class="google-border">
    <%= image_tag("menu/map_search.png", :alt => "Map", id: 'glogo') %>
    <div class="gservice"><a href="/account_menu/gmap">Google Maps<a></div>
</div>

<div class="google-border">
    <%= image_tag("menu/google_chat.png", :alt => "Chat", id: 'glogo') %>
    <div class="gservice"><a href="/account_menu/chats">Google Chat<a></div>
</div>

<div class="google-border">
    <%= image_tag("menu/business.jpg", :alt => "Business", id: 'glogo') %>
    <div class="gservice"><a href="/account_menu/business">Google Business<a></div>
</div>