<a><%= @username %></a><br><br>
<a>Topics in <%= @location%><br><br>
<a>Titles: </a><br><br>


<% if @allChats != nil %>
    <% @allChats.each do |message| %>
        <% if message.message[0] == "t" %>
            <%= form_tag showchat_path([message.id],[message.title]) do %>
                <%= hidden_field_tag "location", message.location %>
                <%= hidden_field_tag "title", message.title %>
                <%= submit_tag message.title,:class=>"titles"%>
            <% end %>
        <% end %>
    <% end %>
<% end %>

<%= form_tag account_menu_chat_new_path, :method => :get do %>
    <%= submit_tag "New Topic",:class=>"newtopic"%>
<% end %>