<%= stylesheet_link_tag "chat/participants" %>
<%= link_to image_tag("login/close.jpg", :id=>"close_btn"), account_menu_chats_path %>
<%= image_tag("chat/google_icon.jpg", :alt => "Google", id: 'glogo') %>
<h4 id="identity">Chat</h4>
<a id="top"><%= params[:title] %>  | Participants</a>
<div id="cen_prt">
    <% @allUsers.each do |user| %>
        <% if user[:name] == @admin.name %>
            <div class="show">
                <%= link_to image_tag("chat/active_user.png", :id=>"block_btn"), chatuserblock_path(:id => @params[:id],:title => @params[:title],:name => user[:name],:userid => user[:id],:location => Chat.find_by(id: @params[:id]).location), method: :post %>
                <a class="show_user"><%= user[:name] %> - <%= user[:email] %> (Admin)</a>
            </div>
        <% else %>
            <div class="show">
                <% active = true %>
                <% @inactive.each do |userr| %>
                    <%if userr.account_id == user[:id]%>
                        <% active = false %>
                    <% end %>
                <% end %>
                <% if active == true %>
                    <%= link_to image_tag("chat/active_user.png", :id=>"block_btn"), chatuserblock_path(:id => @params[:id],:title => @params[:title],:name => user[:name],:userid => user[:id],:location => Chat.find_by(id: @params[:id]).location, :active => true), method: :post %>
                    <a class="show_user"><%= user[:name] %> - <%= user[:email] %></a>
                <% else %>
                    <%= link_to image_tag("chat/inactive_user.png", :id=>"block_btn"), chatuserblock_path(:id => @params[:id],:title => @params[:title],:name => user[:name],:userid => user[:id],:location => Chat.find_by(id: @params[:id]).location, :active => false), method: :post %>
                    <a class="show_user"><%= user[:name] %> - <%= user[:email] %></a>
                <% end %>
            </div>
        <% end %>
    <% end %>
</div>