<%= stylesheet_link_tag "chat/newchat" %>
<%= link_to image_tag("login/close.jpg", :id=>"close_btn"), account_menu_chats_path %>
<%= image_tag("chat/google_icon.jpg", :alt => "Google", id: 'glogo') %>
<h4 id="identity">Chat</h4>
<a id="top"><%= params[:title] %></a>
<div id="nt_prt">
    <%= form_tag submitreply_path([params[:title]]) do %>
        <%= text_field_tag 'nmessage',nil, placeholder: 'Message', type: "text" %><br>
        <%= hidden_field_tag "location", params[:location] %>
        <%= hidden_field_tag "title", params[:title] %>
        <%= submit_tag "Submit Reply",:id=>"create_btn", :style=>"margin-bottom" %>
    <% end %>
</div>