<%= form_tag '/account' do %>
    <label>Name: </label><br>
    <%= text_field_tag :'register[name]' %><br>

    <label>Email: </label><br>
    <%= text_field_tag :'register[email]' %><br>
   
    <label>Password: </label><br>
    <%= text_field_tag :'register[password]' %><br>
   
    <%= submit_tag "Register" %>
<% end %>


<!-- ('/account', method: 'get') -->
<div><a href= "/" >Back</a></div>